
$toolbar-background-color: #27282c;

$chatlist-background-color: #ebe9e8;

$chatlist-scrollbar-color: #9a9797;

$chat-scrollbar-color: #9a9797;
$chat-background-color: #f5f5f5;
$message-background-color: #9eea6a;
